<div class="form-error mb-3" *ngIf="getSucces() == false">
  <h2 class="text-uppercase">Attention, il y a une erreur !</h2>
  <ul class="mt-1 mb-0">
    <li>L'opération souhaitée n'a pas pu être effectuée</li>
  </ul>
</div>

<div class="d-flex justify-content-center" *ngIf="getCurrentLogiciel() && getCurrentLogiciel().getId() == 0"><h1>Créer un nouveau Logiciel</h1></div>
<div class="d-flex justify-content-center" *ngIf="getCurrentLogiciel() && getCurrentLogiciel().getId() != 0"><h1>Modifier un Logiciel</h1></div>


<form method="POST" class="needs-validation mt-2" id="formUser" [formGroup]="form" novalidate *ngIf="getCurrentLogiciel() != null" (ngSubmit)="submit()">

  <div class="d-flex">
    <div class="col-4">
      <div class="pt-2">
        <label class="font-weight-medium mb-2 required" for="nom">Nom : </label>
        <div class="form-control-container" id="divnom" [class.is-invalid]="!getForm().controls['nom'].valid && getForm().controls['nom'].touched">
          <input type="text" class="form-control" id="nom" formControlName="nom" placeholder="Nom" value="" aria-describedby="errnom" required >
          <span class="form-control-state"></span>
        </div>
        <div class="invalid-feedback" id="errnom">
          Veuillez renseigner un nom de logiciel.
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="pt-2">
        <label class="font-weight-medium mb-2 required" for="nbLicenceTotal">Nombre de licence total : </label>
        <div class="form-control-container" id="divnbLicenceTotal" [class.is-invalid]="!getForm().controls['nbLicenceTotal'].valid && getForm().controls['nbLicenceTotal'].touched">
          <input type="text" class="form-control" id="nbLicenceTotal" formControlName="nbLicenceTotal" placeholder="Nombre de licence total" value="" aria-describedby="errnbLicenceTotal" required >
          <span class="form-control-state"></span>
        </div>
        <div class="invalid-feedback" id="errnbLicenceTotal">
          Veuillez renseigner un nombre total de licence.
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="pt-2">
        <label class="font-weight-medium mb-2 required" for="nbLicenceRestante">Nombre de licence restante : </label>
        <div class="form-control-container" id="divnbLicenceRestante" [class.is-invalid]="!getForm().controls['nbLicenceRestante'].valid && getForm().controls['nbLicenceRestante'].touched">
          <input type="text" class="form-control" id="nbLicenceRestante" formControlName="nbLicenceRestante" placeholder="Nombre de licence restante" value="" aria-describedby="errnbLicenceRestante" required >
          <span class="form-control-state"></span>
        </div>
        <div class="invalid-feedback" id="errnbLicenceRestante">
          Veuillez renseigner un nombre de licence restante.
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-4">
      <div class="pt-2">
        <label class="font-weight-medium mb-2 required" for="descriptif">Descriptif : </label>
        <div class="form-control-container" id="divdescriptif" [class.is-invalid]="!getForm().controls['nom'].valid && getForm().controls['nom'].touched">
          <input type="text" class="form-control" id="descriptif" formControlName="descriptif" placeholder="Descriptif" value="" aria-describedby="errdescriptif" required >
          <span class="form-control-state"></span>
        </div>
        <div class="invalid-feedback" id="errdescriptif">
          Veuillez renseigner un descriptif.
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="pt-2">
        <label class="font-weight-medium mb-2 required" for="uniteDeMesure">Unité de mesure : </label>
        <div class="form-control-container" id="divuniteDeMesure" [class.is-invalid]="!getForm().controls['nom'].valid && getForm().controls['nom'].touched">
          <input type="text" class="form-control" id="uniteDeMesure" formControlName="uniteDeMesure" placeholder="Unité de mesure" value="" aria-describedby="erruniteDeMesure" required >
          <span class="form-control-state"></span>
        </div>
        <div class="invalid-feedback" id="erruniteDeMesure">
          Veuillez renseigner une unité de mesure.
        </div>
      </div>
    </div>

    <div class="d-none col-4">
      <div class="pt-2">
        <label class="font-weight-medium mb-2 required" for="metrique">Métrique : </label>
        <div class="form-control-container" id="divmetrique" [class.is-invalid]="!getForm().controls['metrique'].valid && getForm().controls['metrique'].touched">
          <input type="text" class="form-control" id="metrique" formControlName="metrique" placeholder="Métrique" value="" aria-describedby="errmetrique" required >
          <span class="form-control-state"></span>
        </div>
        <div class="invalid-feedback" id="errmetrique">
          Veuillez renseigner une metrique.
        </div>
      </div>
    </div>
  </div>
  <div class="d-none">
    <div class="col-4">
      <div class="pt-2">
        <label class="font-weight-medium mb-2 required" for="editeur">Editeur : </label>
        <div class="form-control-container" id="divediteur" [class.is-invalid]="!getForm().controls['editeur'].valid && getForm().controls['editeur'].touched">
          <input type="text" class="form-control" id="editeur" formControlName="editeur" placeholder="Editeur" value="" aria-describedby="errediteur" required >
          <span class="form-control-state"></span>
        </div>
        <div class="invalid-feedback" id="errediteur">
          Veuillez renseigner un editeur.
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <div class="col-4">
      <div class="pt-2">
        <label for="selectEditeur">Editeur :</label>
        <select id="selectEditeur" (change)="setEditeur($event.target.value)">
          <option [selected]="editeur.getId() == getForm().controls['editeur'].value" data-id="{{editeur.getId()}}" *ngFor="let editeur of editeurs" [value]="editeur.getId()" >{{editeur.getNom()}}</option>
        </select>
      </div>
    </div>

    <div class="col-4">
      <div class="pt-2">
        <label for="selectMetrique">Métrique :</label>
        <select id="selectMetrique" (change)="setMetrique($event.target.value)">
          <option [selected]="metrique.getId() == getForm().controls['metrique'].value" data-id="{{metrique.getId()}}" *ngFor="let metrique of metriques" [value]="metrique.getId()" >{{metrique.getType()}}</option>
        </select>
      </div>
     </div>
  </div>

  <div class="d-flex bd-highlight mb-3">
    <div class="mr-auto p-2 bd-highlight"><button (click)="deleteLogiciel()" *ngIf="getCurrentLogiciel() && getCurrentLogiciel().getId() != 0" type="button" class="btn btn-secondary mr-5">Supprimer le logiciel</button></div>
    <div class="p-2 bd-highlight"><button type="button" class="btn btn-secondary mr-3">Annuler</button></div>
    <div class="p-2 bd-highlight"><button type="submit" class="btn btn-primary mr-3">{{getMessage()}}</button></div>
  </div>


</form>
<p class="text-primary pl-4 pt-2 pb-2 font-weight-medium" *ngIf="getSucces()">
  <i class="icons-checked mr-2" aria-hidden="true"></i> Le logiciel a correctement été mis à jour.
</p>
<div *ngIf="!getCurrentLogiciel()">
  <br />
  <p>Impossible d'accèder au logiciel</p>
</div>



