<div class="table-wrapper">
  <div class="table-scroller last-cell-fixed dragscroll">
    <table class="table">
      <caption class="sr-only">Titre</caption>
      <thead class="thead thead-light">
      <tr>

        <th scope="col" *ngFor="let colonne of getColonnes()">
          <div class="cell-inner">{{colonne}}</div>
        </th>
        <td class="cell-placeholder" aria-hidden="true"><span></span></td>
        <th class="cell-fixed"><span class="sr-only">Actions</span></th>
      </tr>
      </thead>
      <tbody class="tbody">
      <tr *ngFor="let object of getObjects()">

        <td *ngFor="let attribut of object.getTabObject()">
          <div class="cell-inner">{{attribut}}</div>
        </td>
        <td class="cell-placeholder"><span></span></td>
        <td class="cell-fixed">
          <div class="btn-group dropdown">
            <div class="cell-inner">
              <button class="btn btn-only-icon btn-transparent btn-favorite" routerLink="{{object.id}}">
                <i class="icons-pencil icons-size-1x25" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
