<form *ngIf="currentLogiciel" [formGroup]="form" (ngSubmit)="submit()">

  <div *ngFor="let key of list" class="form-group">
    <label>{{key}}</label>
    <div class="form-control-container ">
      <input type="text" class="form-control " formControlName="{{key}}" placeholder="{{key}}">
      <span class="form-control-state"></span></div>
  </div>

  <button class="badge badge-danger mr-2" (click)="deleteLogiciel()">
    Delete
  </button>

  <button
    type="submit"
    class="btn btn-primary"
  >
    Update
  </button>
  <p>{{ message }}</p>

</form>


<div *ngIf="!currentLogiciel">
  <br />
  <p>Cannot access this Logiciel...</p>
</div>
