<nav role="navigation" aria-label="Étapes" class="d-none d-md-flex ml-3">
  <ol class="breadcrumb mt-2 mb-0">
    <li *ngIf="getStep() < 2" class="breadcrumb-item active" aria-current="step" id="stepperEtape1"><a routerLink="/demandes/nouveau" id="stepperText1">Utilisateur</a></li>
    <li *ngIf="getStep() > 1"class="breadcrumb-item" aria-current="step" id="stepperEtape1valid"><a routerLink="/demandes/nouveau" id="stepperText1valid" (click)="this.changeStep.emit(1)"><i class="icons-checked mr-2" aria-hidden="true"></i> Utilisateur : {{getUser()}}</a></li>
    <li *ngIf="getStep() < 3" class="breadcrumb-item active" aria-current="step" id="stepperEtape2"><a routerLink="/demandes/nouveau" id="stepperText2">Projet</a></li>
    <li *ngIf="getStep() > 2"class="breadcrumb-item" aria-current="step" id="stepperEtape2valid"><a routerLink="/demandes/nouveau" id="stepperText2valid" (click)="this.changeStep.emit(2)"><i class="icons-checked mr-2" aria-hidden="true"></i> Projet : {{getProjet()}}</a></li>
    <li *ngIf="getStep() < 4" class="breadcrumb-item active" aria-current="step" id="stepperEtape3"><a routerLink="/demandes/nouveau" id="stepperText3">Logiciel</a></li>
    <li *ngIf="getStep() > 3"class="breadcrumb-item" aria-current="step" id="stepperEtape3valid"><a routerLink="/demandes/nouveau" id="stepperText3valid" (click)="this.changeStep.emit(3)"><i class="icons-checked mr-2" aria-hidden="true"></i> Logiciel</a></li>
    <li *ngIf="getStep() < 5" class="breadcrumb-item active" aria-current="step" id="stepperEtape4"><a routerLink="/demandes/nouveau" id="stepperText4">Metrique</a></li>
    <li *ngIf="getStep() > 4"class="breadcrumb-item" aria-current="step" id="stepperEtape4valid"><a routerLink="/demandes/nouveau" id="stepperText4valid" (click)="this.changeStep.emit(4)"><i class="icons-checked mr-2" aria-hidden="true"></i> Metrique</a></li>
    <li class="breadcrumb-item disabled" id="stepperEtape5"><a routerLink="/demandes/nouveau" id="stepperText5" (click)="this.changeStep.emit(5)">Récapitulatif</a></li>
  </ol>
</nav>
<br>
