<label for="exampleFormControlMultiSelect1">Choisissez plusieurs options</label>
<div class="select-improved" data-component="select-multiple">
  <div class="select-control">
    <div class="input-group" data-role="select-toggle">
      <div class="form-control">
        <div class="custom-control custom-checkbox" >
          <label data-role="placeholder" >Tous les logiciels</label>
        </div>
      </div>
      <select class="sr-only" id="exampleFormControlMultiSelect1" data-role="input" tabindex="-1" aria-hidden="true" multiple>
        <option *ngFor="let object of logiciels" data-id="{{object.id}}" selected="{{object.selected}}" >{{object.nom}}</option>
      </select>
      <div class="input-group-append input-group-last" >
        <button class="btn btn-primary btn-only-icon" data-role="btn" type="button" aria-expanded="false" aria-controls="multiselecttoggle" >
          <i class="icons-arrow-down icons-size-x75" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div id="multiselecttoggle" class="select-menu" data-role="menu">
      <div class="select-group" data-role="group" data-id="0" role="list">
        <div (click)="test(object, i)" class="select-menu-item" role="listitem" *ngFor="let object of logiciels, let i = index">
          <div class="custom-control custom-checkbox">
            <button id="btnList" type="button" data-role="value" data-target="{{object.id}}" role="checkbox" aria-checked="false" class="custom-control-label w-100 text-left font-weight-medium" [class.active]="object.active">{{object.nom}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
