


<app-stepper [step]="getStep()"
             [user]="getUserForm().controls['nom'].value+' ' + getUserForm().controls['prenom'].value"
             [projet]="getProjetForm().controls['nomProjet'].value"
             (changeStep)="setStep($event)"></app-stepper>

<div class="d-none" id="alerte">
  <div class="form-error mb-3">
    <h2 class="text-uppercase">Attention, il y a une erreur !</h2>
    <ul class="mt-1 mb-0" id="errList">
    </ul>
  </div>
</div>

<div *ngIf="getStep() ==1">
  <div class="d-flex ml-3">
    <h1 class="pt-2 mr-4">Type de demande : </h1>
    <div class="options-control">

      <div class="options-item">
        <input type="radio" name="optionsRadio" id="attribution" class="sr-only" (click)="setType(1)" checked/>
        <label class="options-btn font-weight-medium" for="attribution">Attribution</label>
      </div>
      <div class="options-item">
        <input type="radio" name="optionsRadio" id="restitution" class="sr-only" (click)="setType(2)"/>
        <label class="options-btn font-weight-medium" for="restitution">Restitution</label>
      </div>
    </div>
  </div>

  <form method="POST" class="needs-validation mt-2" id="formUser" [formGroup]="userForm" novalidate>

    <div class="d-flex">
      <div class="col-4">
        <div class="pt-2">
          <label class="font-weight-medium mb-2 required" for="cp">Numéro de CP</label>
          <div class="form-control-container" id="divcp" [class.is-invalid]="!userForm.controls['cp'].valid && userForm.controls['cp'].touched">
            <input type="text" class="form-control" id="cp" formControlName="cp" placeholder="Numéro de CP" value="" aria-describedby="errcp" required>
            <span class="form-control-state"></span>
          </div>
          <div class="invalid-feedback" id="errcp">
            Veuillez renseigner votre numéro de CP.
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="pt-2">
          <label class="font-weight-medium mb-2 required" for="nom">Nom</label>
          <div class="form-control-container" id="divnom" [class.is-invalid]="!userForm.controls['nom'].valid && userForm.controls['nom'].touched">
            <input type="text" class="form-control" id="nom" placeholder="Nom" value="" formControlName="nom" aria-describedby="errnom" required>
            <span class="form-control-state"></span>
          </div>
          <div class="invalid-feedback" id="errnom">
            Veuillez renseigner votre nom.
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="pt-2">
          <label class="font-weight-medium mb-2 required" for="prenom">Prénom</label>
          <div class="form-control-container" id="divprenom" [class.is-invalid]="!userForm.controls['prenom'].valid && userForm.controls['prenom'].touched">
            <input type="text" class="form-control" id="prenom" placeholder="Prénom" value="" formControlName="prenom" aria-describedby="errprenom" required >
            <span class="form-control-state"></span>
          </div>
          <div class="invalid-feedback" id="errprenom">
            Veuillez renseigner votre prénom.
          </div>
        </div>
      </div>
    </div>



    <div class="d-flex">
      <div class="col-6">
        <div class="pt-2">
          <label class="font-weight-medium mb-2 required" for="mail">Adresse de messagerie</label>
          <div class="form-control-container" id="divmail" [class.is-invalid]="!userForm.controls['mail'].valid && userForm.controls['mail'].touched">
            <input type="text" class="form-control" id="mail" formControlName="mail" placeholder="Adresse de messagerie" value="" aria-describedby="errmail" required>
            <span class="form-control-state"></span>
          </div>
          <div class="invalid-feedback" id="errmail">
            Veuillez renseigner une adresse de messagerie.
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="pt-2">
          <label class="font-weight-medium mb-2 required" for="mailProposition">Adresse de messagerie pour la proposition commerciale</label>
          <div class="form-control-container" id="divmailProposition" [class.is-invalid]="!userForm.controls['mailProposition'].valid && userForm.controls['mailProposition'].touched">
            <input type="text" class="form-control" id="mailProposition" formControlName="mailProposition" placeholder="Adresse de messagerie pour la proposition commerciale" value="" aria-describedby="errmailProposition" required>
            <span class="form-control-state"></span>
          </div>
          <div class="invalid-feedback" id="errmailProposition">
            Veuillez renseigner une adresse de messagerie.
          </div>
        </div>
      </div>
    </div>


    <div class="d-flex">
      <div class="col-6">
        <div class="pt-2">
          <div class="form-control-container" id="divselectDSI" [class.is-invalid]="!userForm.controls['selectDSI'].valid && userForm.controls['selectDSI'].touched">
            <label for="selectDSI">DSI / Service / Entité</label>
            <select id="selectDSI" formControlName="selectDSI">
              <option *ngFor="let object of dsis" value="{{ object.id }}" > {{ object.nom }}</option>
            </select>
          </div>
          <div class="invalid-feedback" id="errselectDSI">
            Veuillez sélectionner une DSI.
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="pt-2">
          <label for="dateRea" class="font-weight-medium mb-2">Date de réalisation souhaitée</label>
          <div data-component="picker" data-default-date="">
            <div class="input-group" data-toggle>
              <div class="form-control-container" id="divdateRea" [class.is-invalid]="!userForm.controls['dateRea'].valid && userForm.controls['dateRea'].touched">
                <input id="dateRea" type="text" class="form-control" placeholder="Sélectionner une date" formControlName="dateRea" data-input>
                <span class="form-control-state"></span>
              </div>
              <div class="input-group-append">
                <button type="button" class="btn btn-primary btn-only-icon" data-role="btn" tabindex="-1" aria-expanded="false">
                  <i class="icons-calendar" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="d-flex flex-row-reverse pt-3">
    <button class="btn btn-primary" id="validEtape1" (click)="nextStep()" [disabled]="!userForm.valid">Etape suivante</button>
  </div>
</div>


<div *ngIf="getStep() ==2">
  <form method="POST" class="needs-validation" id="formProjet" [formGroup]="projetForm" novalidate >
    <div class="d-flex">
      <div class="col-md-4 mb-3">
        <label class="font-weight-medium mb-2 required" for="nomProjet">Nom du projet</label>
        <div class="form-control-container" id="divnomProjet" [class.is-invalid]="!projetForm.controls['nomProjet'].valid && projetForm.controls['nomProjet'].touched">
          <input type="text" class="form-control" id="nomProjet" placeholder="Nom du projet" formControlName="nomProjet" required>
          <span class="form-control-state"></span>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label class="font-weight-medium mb-2 required" for="clientDDSI">Client/DDSI correspondant</label>
        <div class="form-control-container" id="divclientDDSI" [class.is-invalid]="!projetForm.controls['clientDDSI'].valid && projetForm.controls['clientDDSI'].touched">
          <input type="text" class="form-control" id="clientDDSI" placeholder="Client/DDSI" formControlName="clientDDSI" required>
          <span class="form-control-state"></span>
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div class="col-md-4 mb-3">
        <div class="form-control-container" id="divselectDSIProjet" [class.is-invalid]="!projetForm.controls['selectDSIProjet'].valid && projetForm.controls['selectDSIProjet'].touched">
          <label for="selectDSIProjet">DSI</label>
          <select id="selectDSIProjet" formControlName="selectDSIProjet">
            <option *ngFor="let dsi of dsis" value="{{ dsi.id }}" > {{ dsi.nom }}</option>
          </select>
        </div>
        <div class="invalid-feedback" id="errselectDSIProjet">
          Veuillez sélectionner une DSI.
        </div>
      </div>
    </div>
    <div class="d-flex flex-row-reverse pt-3">
      <button class="btn btn-primary" id="validEtape2" (click)="nextStep()" [disabled]="!projetForm.valid">Etape suivante</button>
    </div>
  </form>
</div>

<div class="d-flex" >
  <div class="col-6">
    <div *ngIf="getStep() ==3" >
      <form method="POST" class="needs-validation" id="formLogiciel" [formGroup]="logicielForm" novalidate>
        <div>
          <label for="selectEditeur">Editeur du logiciel</label>
          <select id="selectEditeur" (change)="initLogiciel()" formControlName="selectEditeur">
            <option *ngFor="let editeur of editeurs" value="{{ editeur.id }}" > {{ editeur.nom }}</option>
          </select>
        </div>
        <p class="text-danger text-center pl-4 pt-2 pb-2 font-weight-medium" id="textMetrique">
        </p>
      </form>
    </div>

    <div class="d-none" [class.d-block]="getStep() === 3">
      <app-liste-deroulante-multi [editeurSelect]="getEditeurSelect()"
                                  (logicielSelect)="selectLogiciel($event)"
                                  (logicielDeselect)="deselectLogiciel($event)"
                                  (resetLogicielSelect)="resetSelectLogiciel()"
      ></app-liste-deroulante-multi>
    </div>

  </div>
  <div *ngIf="getStep() ==3" class="col-6">
    <div class="table-wrapper">
      <div class="table-scroller dragscroll">
        <table class="table">
          <caption class="sr-only">Titre</caption>
          <thead class="thead thead-light">
          <tr>
            <th scope="col"><div class="cell-inner">Nom du logiciel</div></th>
            <th scope="col"><div class="cell-inner">Type de métrique</div></th>
            <th scope="col"><span class="sr-only">Action</span></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let logiciel of logiciels">
            <td><div class="cell-inner">{{logiciel.nom}}</div></td>
            <td *ngIf="logiciel.metrique == 1"><div class="cell-inner">Utilisateur</div></td>
            <td *ngIf="logiciel.metrique == 2"><div class="cell-inner">Serveur</div></td>
            <td>
              <div class="cell-inner">
                <button class="btn btn-only-icon btn-transparent btn-favorite">
                  <span class="sr-only">Favorite</span>
                  <i class="icons-circle-delete icons-size-1x25" aria-hidden="true"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<div class="d-flex flex-row-reverse pt-3" *ngIf="getStep() ==3">
  <button class="btn btn-primary" id="validEtape3" (click)="nextStep()" [disabled]="logiciels.length < 1">Etape suivante</button>
</div>



<div *ngIf="getStep() ==4 && getMetrique(1) > 0">
<div *ngFor="let formServeur of listFormServer, let i = index">
<form class="needs-validation" id="{{'formServeur' + i}}" [formGroup]="formServeur" novalidate >
  <div class="d-flex pt-3">
    <div class="col-6">
      <div class="d-flex ml-3">
        <h1 class="pt-2 mr-4">Type de serveur : </h1>

        <div class="options-control">
          <div class="options-item">
            <input type="radio" name="optionsRadio" id="{{'physique' + i}}" class="sr-only" checked (click)="setPhysiqueForm(true, i)"/>
            <label class="options-btn font-weight-medium" for="{{'physique' + i}}">Physique</label>
          </div>
          <div class="options-item">
            <input type="radio" name="optionsRadio" id="{{'virtuel' + i}}" class="sr-only" (click)="setPhysiqueForm(false, i)"/>
            <label class="options-btn font-weight-medium" for="{{'virtuel' + i}}">Virtuel</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <div class="col-6">
      <label class="font-weight-medium mb-2 required" for="{{'nomServeur' + i}}">Nom du serveur</label>
      <div class="form-control-container" id="{{'divnomServeur' + i}}" [class.is-invalid]="!metriqueServerForm1.controls['nomServeur'].valid && metriqueServerForm1.controls['nomServeur'].touched">
        <input type="text" class="form-control" id="{{'nomServeur' + i}}" placeholder="Nom du serveur" formControlName="nomServeur" required>
        <span class="form-control-state"></span>
      </div>
      <div class="invalid-feedback" id="{{'errnomServeur' + i}}">
        Veuillez choisir un nom de serveur.
      </div>
    </div>
    <div class="col-6">
      <label class="font-weight-medium mb-2 required" for="{{'modele' + i}}">Modèle</label>
      <div class="form-control-container" id="{{'divmodele' + i}}" [class.is-invalid]="!metriqueServerForm1.controls['modele'].valid && metriqueServerForm1.controls['modele'].touched">
        <input type="text" class="form-control"  id="{{'modele' + i}}" placeholder="Modèle" aria-describedby="inputGroupPrepend" formControlName="modele" required>
        <span class="form-control-state"></span>
      </div>
      <div class="invalid-feedback" id="{{'errmodele' + i}}">
        Veuillez choisir un modèle.
      </div>
    </div>
  </div>
  <div class="d-flex pt-3">
    <div class="col-6">
      <label class="font-weight-medium mb-2 required" for="{{'nbrCpu' + i}}">Nombre de CPU</label>
      <div class="form-control-container" id="divnbrCpu" [class.is-invalid]="!metriqueServerForm1.controls['nbrCpu'].valid && metriqueServerForm1.controls['nbrCpu'].touched">
        <input type="text" class="form-control"  id="{{'nbrCpu' + i}}" placeholder="Nombre de CPU" aria-describedby="inputGroupPrepend3" formControlName="nbrCpu" required>
        <span class="form-control-state"></span>
      </div>
      <div class="invalid-feedback" id="{{'errnbrCpu' + i}}">
        Veuillez renseigner un nombre de CPU valide.
      </div>
    </div>
    <div class="col-6">
      <label class="font-weight-medium mb-2 required" for="{{'nbrCore' + i}}">Nombre de cores</label>
      <div class="form-control-container" id="{{'divnbrCore' + i}}" [class.is-invalid]="!metriqueServerForm1.controls['nbrCore'].valid && metriqueServerForm1.controls['nbrCore'].touched">
        <input type="text" class="form-control"  id="{{'nbrCore' + i}}" placeholder="Nombre de cores" aria-describedby="inputGroupPrepend4" formControlName="nbrCore" required>
        <span class="form-control-state"></span>
      </div>
      <div class="invalid-feedback" id="{{'errnbrCore' + i}}">
        Veuillez renseigner un nombre de core valide.
      </div>
    </div>
  </div>
  <div class="d-flex flex-row-reverse pt-3">
    <button class="btn btn-primary" id="validEtape4" (click)="nextStep()" [disabled]="!metriqueServerForm1.valid">Etape suivante</button>
  </div>
</form>
  <div class="custom-control custom-checkbox ">
    <input type="checkbox" name="{{'addServeur' + i}}" class="custom-control-input" id="{{'addServeur' + i}}" (change)="modFormServer($event,i)" id>
    <label class="custom-control-label" for="{{'addServeur' + i}}">Ajouter un serveur ?</label>
  </div>
</div>
</div>

<form class="needs-validation" id="formQuantiteUtilisateur" [formGroup]="metriqueUserForm" novalidate *ngIf="getStep() ==5 && getMetrique(2) > 0">
  <div class="col-6">
    <label class="font-weight-medium mb-2 required" for="quantiteUtilisateur">Saisir le nombre d'utilisateurs</label>
    <div class="form-control-container" id="divquantiteUtilisateur" [class.is-invalid]="!metriqueUserForm.controls['quantiteUtilisateur'].valid && metriqueUserForm.controls['quantiteUtilisateur'].touched">
      <input type="text" class="form-control"  id="quantiteUtilisateur" placeholder="Nombre d'utilisateurs" aria-describedby="inputGroupPrepend2" formControlName="quantiteUtilisateur" required>
      <span class="form-control-state"></span>
    </div>
    <div class="invalid-feedback" id="inputGroupPrepend2">
      Veuillez renseigner une quantité valide.
    </div>
  </div>
  <div class="d-flex flex-row-reverse ">
    <button class="btn btn-primary" id="validEtape5" (click)="nextStep()" [disabled]="!metriqueUserForm.valid">Etape suivante</button>
  </div>
</form>


<div *ngIf="getStep() ==6" >
  <h1 class="mb-0">Liste des logiciels : </h1>
  <ul class="list-group" id="divRecap">
    <li class="list-group-item management-item"  *ngFor="let logiciel of logiciels; let i=index">
      <div class="management-item-content">
        <div class="management-item-symbol">
          <i class="icons-itinerary-line-tram-{{addOne(i)}} icons-size-1x25" aria-hidden="true"></i>
        </div>
        <div class="management-item-main">
          <h2>Logiciel : {{logiciel.nom}}</h2>
          <ul class="meta-list font-weight-medium">
            <li class="meta-list-item" *ngIf="logiciel.metrique===1">Type de métrique : Utilisateur</li>
            <li class="meta-list-item" *ngIf="logiciel.metrique===2">Type de métrique : Serveur</li>
            <li class="meta-list-item separator">Quantité calculée  : 4</li>
          </ul>
          <p class="mb-0 d-none d-lg-block" *ngIf="logiciel.metrique===1">La quantité est calculée à partir des informations serveurs (S24AMCT143, 4CPU et 16 cores)</p>
          <p class="mb-0 d-none d-lg-block" *ngIf="logiciel.metrique===2">La quantité est calculée à partir du nombre d'utilisateurs (100 utilisateurs)</p>
          <div class="form-group mx-sm-3 mb-2">
            <label for="inputQuantite">Vous pouvez modifier la quantité :</label>
            <input type="number" class="form-control" id="inputQuantite" placeholder="Quantité" value="4">
          </div>
        </div>

        <div class="management-item-action">
          <button type="button" class="btn btn-options dropdown-toggle" title="Supprimer" data-toggle="dropdown">
            <i class="icons-circle-delete" aria-hidden="true"></i>
            <span class="sr-only">Télécharger</span>
          </button>
        </div>
      </div>
    </li>
  </ul>
  <div class="d-flex flex-row-reverse">
    <button class="btn btn-primary" id="validEtape6" data-toggle="modal" data-target="#ModalConfirmationDemande" (click)="newDemande()">Confirmer la demande</button>
  </div>
</div>


<!-- Modal -->

<!-- Modal demande de confirmation création demande -->
<div class="modal fade" id="ModalConfirmationDemande" tabindex="-1" role="dialog" aria-labelledby="ModalConfirmationDemande" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="h1 modal-title" id="ModalConfirmationDemandeLibelle">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Souhaitez-vous confirmer cette demande de licence(s) ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#ModalConfirmationCreationDemande">Oui</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal demande de confirmation suppression élément -->
<div class="modal fade" id="ModalConfirmationSuppression" tabindex="-1" role="dialog" aria-labelledby="ModalConfirmationSuppression" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="h1 modal-title" id="ModalConfirmationSuppressionLibelle">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Êtes-vous sûr de vouloir supprimer cet élément ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#ModalConfirmationCreationDemande">Supprimer</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal confirmation -->
<div class="modal fade" id="ModalConfirmationCreationDemande" tabindex="-1" role="dialog" aria-labelledby="ModalConfirmationCreationDemande" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="h1 modal-title" id="ModalConfirmationCreationDemandeLibelle">Confirmation</h5>
        <button  routerLink="/"  type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <i class="icons-sami-grin icons-size-140px" aria-hidden="true"></i>
        Votre demande a correctement été enregistrée.
      </div>
      <div class="modal-footer">
        <button routerLink="/" type="button" class="btn btn-secondary" data-dismiss="modal">Retourner à l'accueil</button>
      </div>
    </div>
  </div>
</div>


