<div class="form-error mb-3" *ngIf="getSucces() == false">
  <h2 class="text-uppercase">Attention, il y a une erreur !</h2>
  <ul class="mt-1 mb-0">
    <li>L'opération souhaitée n'a pas pu être enregistrée</li>
  </ul>
</div>


<div class="d-flex justify-content-center" *ngIf="getCurrentLogiciel() && getCurrentLogiciel().getId() == 0"><h1>Créer une nouvelle métrique</h1></div>
<div class="d-flex justify-content-center" *ngIf="getCurrentLogiciel() && getCurrentLogiciel().getId() != 0"><h1>Modifier une métrique</h1></div>


<form method="POST" class="needs-validation mt-2" id="formUser" [formGroup]="form" novalidate *ngIf="getCurrentLogiciel() != null" (ngSubmit)="submit()">

  <div class="d-flex">
    <div class="col-4">
      <div class="pt-2">
        <label class="font-weight-medium mb-2 required" for="nom">Type de métrique : </label>
        <div class="form-control-container" id="divnom" [class.is-invalid]="!getForm().controls['type'].valid && getForm().controls['type'].touched">
          <input type="text" class="form-control" id="nom" formControlName="type" placeholder="Type de métrique" value="" aria-describedby="errnom" required >
          <span class="form-control-state"></span>
        </div>
        <div class="invalid-feedback" id="errnom">
          Veuillez renseigner un type de métrique.
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex bd-highlight mb-3">
    <div class="mr-auto p-2 bd-highlight"><button (click)="deleteMetrique()" type="button" class="btn btn-secondary mr-5">Supprimer la métrique</button></div>
    <div class="p-2 bd-highlight"><button type="button" class="btn btn-secondary mr-3">Annuler</button></div>
    <div class="p-2 bd-highlight"><button type="submit" class="btn btn-primary mr-3">{{getMessage()}}</button></div>
  </div>


</form>
<p class="text-primary pl-4 pt-2 pb-2 font-weight-medium" *ngIf="getSucces()">
  <i class="icons-checked mr-2" aria-hidden="true"></i> La métrique a correctement été mise à jour.
</p>
<div *ngIf="!getCurrentLogiciel()">
  <br />
  <p>Impossible d'accèder à la métrique</p>
</div>


