<div class="form-error mb-3" *ngIf="getSucces() == false">
  <h2 class="text-uppercase">Attention, il y a une erreur !</h2>
  <ul class="mt-1 mb-0">
    <li>L'opération souhaitée n'a pas pu être effectuée</li>
  </ul>
</div>


<div class="d-flex justify-content-center" *ngIf="getCurrentEditeur() && getCurrentEditeur().getId() == 0"><h1>Créer un nouveau Editeur</h1></div>
<div class="d-flex justify-content-center" *ngIf="getCurrentEditeur() && getCurrentEditeur().getId() != 0"><h1>Modifier un Editeur</h1></div>
<form method="POST" class="needs-validation mt-2" id="formUser" [formGroup]="form" novalidate *ngIf="getCurrentEditeur() != null" (ngSubmit)="submit()">

  <div class="d-flex">
    <div class="col-4">
      <div class="pt-2">
        <label class="font-weight-medium mb-2 required" for="editeur">Nom de l'editeur : </label>
        <div class="form-control-container" id="divediteur" [class.is-invalid]="!getForm().controls['nom'].valid && getForm().controls['nom'].touched">
          <input type="text" class="form-control" id="editeur" formControlName="nom" placeholder="Editeur" value="" aria-describedby="errediteur" required >
          <span class="form-control-state"></span>
        </div>
        <div class="invalid-feedback" id="errediteur">
          Veuillez renseigner un nom d'editeur.
        </div>
      </div>
    </div>

</div>
  <div class="d-flex bd-highlight mb-3">
    <div class="mr-auto p-2 bd-highlight"><button (click)="deleteEditeur()" *ngIf="getCurrentEditeur() && getCurrentEditeur().getId() != 0" type="button" class="btn btn-secondary mr-5">Supprimer l'éditeur</button></div>
    <div class="p-2 bd-highlight"><button type="button" class="btn btn-secondary mr-3">Annuler</button></div>
    <div class="p-2 bd-highlight"><button type="submit" class="btn btn-primary mr-3">{{getMessage()}}</button></div>
  </div>
</form>
<p class="text-primary pl-4 pt-2 pb-2 font-weight-medium" *ngIf="getSucces()">
  <i class="icons-checked mr-2" aria-hidden="true"></i> L'éditeur a correctement été mis à jour.
</p>

<div *ngIf="!getCurrentEditeur()">
  <br />
  <p>Impossible d'accèder à l'editeur</p>
</div>
