<h1><p class="text-center font-weight-bold">Administration</p></h1>

<div class="d-flex">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><p class="text-center">Logiciel</p></h5>
        <p class="text-center">Vous pouvez créer ou modifier un logiciel existant</p>
        <div class="d-flex justify-content-center">
          <a routerLink="/logiciels/nouveau" class="btn btn-primary mr-3">Créer</a> <a routerLink="/logiciels" class="btn btn-primary ml-3">Modifier</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><p class="text-center">Editeur</p></h5>
        <p class="text-center">Vous pouvez créer ou modifier un éditeur existant</p>
        <div class="d-flex justify-content-center">
          <a routerLink="/editeurs/nouveau" class="btn btn-primary mr-3">Créer</a> <a routerLink="/editeurs/" class="btn btn-primary ml-3">Modifier</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><p class="text-center">Demande</p></h5>
        <p class="text-center">Vous pouvez créer ou modifier une demande existante</p>
        <div class="d-flex justify-content-center">
          <a routerLink="/demandes/nouveau" class="btn btn-primary mr-3">Créer</a> <a routerLink="/demandes" class="btn btn-primary ml-3">Modifier</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><p class="text-center">DSI</p></h5>
        <p class="text-center">Vous pouvez créer ou modifier une dsi existante</p>
        <div class="d-flex justify-content-center">
        <a routerLink="/dsis/nouveau" class="btn btn-primary mr-3">Créer</a>  <a routerLink="/dsis" class="btn btn-primary ml-3">Modifier</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="d-flex">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><p class="text-center">Métrique</p></h5>
        <p class="text-center">Vous pouvez créer ou modifier une métrique existante</p>
        <div class="d-flex justify-content-center">
        <a routerLink="/metriques/nouveau" class="btn btn-primary mr-3">Créer</a> <a routerLink="/metriques" class="btn btn-primary ml-3">Modifier</a>
        </div>
      </div>
    </div>
  </div>


</div>
