<nav role="navigation" class="mastnav">
  <ul class="mastnav-top">
    <li>
      <a routerLink="/demandes/nouveau" class="mastnav-item active">
        <i class="icons-add icons-size-1x5" aria-hidden="true"></i>
        <span class="font-weight-medium">Nouvelle demande</span>
      </a>
    </li>
    <li>
      <a routerLink="/demandes" class="mastnav-item">
        <i class="icons-file icons-size-1x5" aria-hidden="true"></i>
        <span class="font-weight-medium">Mes demandes</span>
      </a>
    </li>
    <li>
      <a routerLink="/logiciels" class="mastnav-item">
        <i class="icons-document icons-size-1x5" aria-hidden="true"></i>
        <span class="font-weight-medium">Base logiciels</span>
      </a>
    </li>
    <li class="d-none d-lg-flex">
      <a routerLink="/admin" class="mastnav-item">
        <i class="icons-admin icons-size-1x5" aria-hidden="true"></i>
        <span class="font-weight-medium">Admin</span>
      </a>
    </li>
    <li class="d-lg-none">
      <button type="button" class="mastnav-item options-menu-btn" data-component="state" data-state="active, active" data-behaviour="toggle, toggle" data-target=".options-menu-btn, .options-menu">
        <i class="icons-options icons-size-1x5" aria-hidden="true"></i>
        <span class="font-weight-medium">Plus</span>
      </button>
    </li>
  </ul>
  <div class="mastnav-bottom d-none d-lg-block">
    <a href="#" class="mastnav-item mastnav-item-horizontal">
      <i class="icons-support icons-size-1x5" aria-hidden="true"></i>
      <span class="font-weight-medium">Support</span>
    </a>
  </div>
</nav>
