<div class="mastheader">
  <div class="mastheader-logo">
    <a href="/">
      <img alt="SNCF" src="assets/img/brand/sncf-logo.png" width="70" />
    </a>
  </div>
  <div role="banner" class="mastheader-title d-xl-block">
    <h1 class="text-uppercase text-white pt-2 pl-3 mb-0">Gestion Licence</h1>
  </div>
</div>
